.bg {
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
    margin-bottom: -200px;
    background: #EBF9BE;
    height: 189px;
    overflow: auto;
}

.icon {
    font-size: 100px; 
    width:100px;
    margin-left: 149px;
    padding-top: 10px;
    color: #219653;
    
}

.msg {
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 16px;
    // line-height: 16px;
    /* identical to box height, or 44% */
    
    letter-spacing: 0.75px;
    text-transform: uppercase;
    padding-left: 140px;
    padding-top: 10px;
    color: #000000;
    }