.container{
background: #FFB8B8;
border: 3px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 500px;
height: 300px;
margin-left: -24px;
margin-bottom: -24px;
margin-top: -24px;
}

.header{

font-family: Kanit;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #000000;
}

.remark {
    font-family: Kanit;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #7C7C7C;
margin-left:10px;

}

.remarkcontent {
    background: #FFFFFF; 
    border-radius: 10px;
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
}