<div class="container">
  <mat-toolbar class="shadow" fxLayout="row" fxLayoutAlign="space-between">
    <mat-toolbar-row>
      <mat-label class="label">รายการวิเคราะห์&nbsp;</mat-label>
      <mat-label style="font-size: 18px">ความเชื่อมั่น</mat-label>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="marginright">
    <div style="padding-top: 10px; background-color: white;">
      <div fxLayoutAlign="start center" fxLayout="row">
        <mat-label style="width: 100px;" class="label">สาขา&nbsp;</mat-label>
        <mat-label style="font-size: 18px">การทำขนมไทย</mat-label>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <br>
        <mat-label class="label" style="width: 100px;">จำนวนเรื่อง&nbsp;</mat-label>
        <mat-label style="font-size: 18px">14</mat-label>
        <mat-label style="margin-left: 50px; width: 150px;" class="label">จำนวนผู้เข้าสอบ&nbsp;</mat-label>
        <mat-label style="font-size: 18px">5</mat-label>
      </div>

      <table style="margin-top: 10px;">
        <tr>
          <th [attr.colSpan]="2" style="width: 150px; height:50px;text-align: center;">คำตอบ</th>
          <th [attr.colSpan]="2" style="width: 150px; height:50px;text-align: center;">ผลรวม</th>
          <th [attr.colSpan]="2" style="width: 150px; height:50px;text-align: center;">R/N</th>
          <th [attr.colSpan]="2" style="width: 150px; height:50px;text-align: center;">ค่าความยากง่าย(P)</th>
          <th [attr.colSpan]="2" style="width: 150px; height:50px;text-align: center;">อำนาจตัวลวง</th>
          <!-- <td [attr.rowSpan]="2" style="text-align: center;"> ข้อ1</td>
                <td [attr.rowSpan]="2" style="text-align: center;"> x2</td> -->
        </tr>
        <ng-container *ngFor="let tester of question; let i = index;">
          <tr>
            <td [attr.rowSpan]="4" style="width: 150px; height: 150px; text-align: center;">ข้อ {{i+1}}</td>
            <td style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">ก</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">2
            </td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">0.20
            </td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">
              ยอมรับได้</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">
              ใช้ได้</td>
          </tr>

          <tr>
            <td style="width: 150px; text-align: center;">ข</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">1</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">0.10</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">ยาก</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">พอใช้</td>
          </tr>

          <tr>
            <td style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">ค</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">4
            </td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">0.50
            </td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">ง่าย
            </td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center; background-color: rgb(175, 172, 172);">
              ใช้ได้</td>
          </tr>

          <tr>
            <td style="width: 150px; text-align: center;">ง</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">1</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">0.10</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">ยาก</td>
            <td [attr.colspan]="2" style="width: 150px; text-align: center;">พอใช้</td>
          </tr>
        </ng-container>


      </table>
    </div>
  </div>
</div>