<div class="marginright">
  <form [formGroup]="createForm">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-left: 12px;">
      <div fxLayout="column" fxLayoutAlign="space-around" style="width: 40%;">
        <p class="head">รหัสกลุ่มสาขาอาชีพ</p>
        <mat-form-field appearance="outline" style="font-size: 13px; width: 100%;">
          <mat-label>รหัสกลุ่มสาขาอาชีพ</mat-label>
          <input matInput formControlName="occupation_group_code" >
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around" style="width: 40%;">
        <p class="head">กลุ่มสาขาอาชีพ</p>
        <mat-form-field appearance="outline" style="font-size: 13px; width: 100%;">
          <mat-label>กลุ่ม</mat-label>
          <input matInput formControlName="occupation_group_name">
        </mat-form-field>
      </div>
      <button class="save" mat-raised-button style="margin-top: 10px; margin-right: 10px; background-color: #EBF9BE;"
        (click)="save(createForm.value)" [disabled]=!createForm.valid>เพิ่ม</button>
    </div>
  </form>
  <div class="marginright">
      <div class="table">
        <table mat-table [dataSource]="occupation" >
          <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef width="20%">ลำดับ</th>
            <td mat-cell *matCellDef="let occupation; let i = index;"> {{i+1}}</td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef width="20%">รหัสกลุ่มสาขาอาชีพ</th>
            <td mat-cell *matCellDef="let occupation"> {{occupation.occupation_group_code}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef width="60%">กลุ่มสาขาอาชีพ</th>
            <td mat-cell *matCellDef="let occupation"> {{occupation.occupation_group_name}}</td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef width="10%">&nbsp;&nbsp;แก้ไข</th>
            <td mat-cell *matCellDef="let occupation">
              <button mat-icon-button (click)="openSettingUpdateDialog(occupation)">
                <mat-icon style="color: #56CCF2;">create</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef width="10%">&nbsp;&nbsp;&nbsp;ลบ</th>
            <td mat-cell *matCellDef="let occupation">
              <button mat-icon-button (click)="deleteData(occupation.occupation_group_id)">
                <mat-icon style="color: red;">delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableDisplayColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>