<div class="container">
 
    <mat-toolbar class="shadow">
      <mat-toolbar-row>
        <mat-form-field appearance="outline" style="padding-top: 40px; width:40%" [style.fontSize.px]=13>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <input matInput placeholder="หลักสูตรภาษาไทย" class="searchbar" (keyup)="applyFilter($event)">
          <mat-icon matPrefix style="color: rgba(0, 0, 0, 0.5);" >search</mat-icon>
        </mat-form-field>
        <span class="spacer"></span>
      
      </mat-toolbar-row>
    </mat-toolbar>
      <div class="marginright" >
        <div fxLayoutAlign="space-between" fxlayout="row" style=" padding-top:20px; margin-bottom: -20px;">
        <mat-label style="font-size: larger; color: #7C7C7C;
        ;">สาขา</mat-label>
        <mat-label style="font-size: larger;">&nbsp;&nbsp;&nbsp;<span (click)="back()" style="cursor: pointer;">{{topic?.course_name}}</span>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;{{topic?.topic_name}}</mat-label>
        <span class="spacer"></span>
      </div>
       <div class="a" style="margin-top: 30px;">
       <table mat-table [dataSource]="question" class="mat-elevation-z8" >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef width ="15%">ลำดับ</th>
            <td mat-cell *matCellDef="let course; let i = index"> {{course.index}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef width ="70%">คำถาม</th>
            <td mat-cell *matCellDef="let course" [innerHTML]="course.question_name | safeurl"> </td>
        </ng-container>
        <ng-container matColumnDef="description">
         <th mat-header-cell *matHeaderCellDef width = "15%">ดู Log</th>
         <td mat-cell *matCellDef="let course; let i = index" (click)="$event.stopPropagation()">
           <div>
             <mat-icon style="cursor: pointer;" (click)="log(course.question_id)">search</mat-icon>
            </div>
          </td>
     </ng-container>
          <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableDisplayColumns; let i = index;" style="cursor: pointer;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" ></mat-paginator>
    </div>
      </div>
      </div>