table {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
.error {
  font-size: 11px;
  color: red;
}

.height {
  // height: 48px;
  // width: 159px;
  margin-top: 15px;
  border-radius: 3px;
  background: #56ccf2;
  font-family: Kanit;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-left: 10px;
  // line-height: px;
  /* identical to box height, or 100% */

  letter-spacing: 0.75px;
  text-transform: uppercase;

  color: #131212;
}

.shadow {
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  height: 82px;
}

.marginright {
  margin-left: 12px;
  margin-top: 8px;
  margin-right: 8px;
}

.searchbar {
  width: 60%;
}

.backdropBackground {
  background: #f9f3be;
}

.mat-button-toggle {
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 4px;
  // margin-left: 4px;
  border-radius: 10px 10px 0px 0px;
  background-color: #cccccc;
}
.mat-button-toggle-checked {
  background-color: #2bbeee;
}

.card1 {
  width: 330px;
  height: 200px;
  text-align: center;
  border-radius: 7px;
  background-color: #c1e6fc;
}
.card2 {
  width: 330px;
  height: 200px;
  text-align: center;
  border-radius: 7px;
  background-color: #b7ffab;
}
.card3 {
  width: 330px;
  height: 200px;
  text-align: center;
  border-radius: 7px;
  background-color: #ffdede;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.table {
  overflow: auto;
  // max-height: 290px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}

.content {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

.searchbutton {
  background: #2bbeee;
  border-radius: 3px;
}

.header {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 75% */

  letter-spacing: 0.15px;

  color: #000000;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.container {
  margin: 10px;
}
